<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ups!</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
    <main id="main-page">
        <div class="container-image">
            <img src="../img/sm-dog-homework.jpg" alt="Ups el perro se comió la tarea" />
        </div>
        <div class="container-main-text">
            <h1>&#128540; ¡El perro se comió la tarea! &#128517;</h1>
            <br/>
            <p>Si llegaste a este link por error te invitamos a que regreses al home de Puppis, haciendo click <a href="https://www.puppis.com.co">aquí</a></p>
        </div>
        <br />
        <div class="details-message">
            <h3><%= message %></h3>
            <h4><%= error.status %></h4>
        </div>
    </main>
</body>
</html>