<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ups!</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
    <main id="main-page">
        <div class="container-image">
            <img src="../img/logo-puppis-icon-blue.jpg" alt="Puppis Colombia" />
        </div>
        <div class="container-main-text">
            <h1>&#128540; ¡Ups! &#128517;</h1>
            <br />
            <p>Si llegaste a este link por error te invitamos a que regreses al home de <b>Puppis</b>, haciendo click <a href="https://www.puppis.com.co">aquí</a></p>
            <br />
            <p><small>Te redigiremos en algunos segundos...</small></p>
        </div>
        <br />
        <br />
    </main>
    <script type="text/javascript">
        setTimeout(() => {
            window.location.href = "https://www.puppis.com.co"
        }, 20000);
    </script>
</body>
</html>