*,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main#main-container{
    height: 100vh;
    width: 100vw;
    background-color: white
}

/* MENU HEADER */

section.menu{
    background-color: #141414;
    color: white;
    position: relative;
    display: grid;
    height: auto;
}

section.menu nav{
    height: 100px;
}

/* SECTIONS */

section.section-api{
    width: 90%;
    position: relative;
    height: auto;
    margin: auto;
    display: block;
}


/* SECTION 1 */

section.main-title{
    display: block;
}

section.main-title h1{
    color: #141414;
    font-size: 2em;
    font-weight: 700;
    margin: 10px;
}

section.main-title pre{
    color: gray;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.suggested-api{
    margin: 10px;
}

ul.api-lists{
    list-style: none;
    padding: 0;
}
ul.api-lists li{
    margin: 5px 0;
}

hr{
    color: #f5f5f5;
    margin: 20px 10px;
}





/* SECTION 2 */

.schemes {
    display: block;
}

.schemes .container-entity{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    background: #fafafa;
    padding: 20px;
}

.list-entity{
    list-style: none;
    padding: 0;
}

.list-entity .item-api{
    display: block;
    position: relative;
    margin: 10px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.list-entity .item-api:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.list-entity .item-api .item-api-content{
    display: grid;
    grid-template-columns: 6% 20% 1fr 6%;
    grid-column-gap: 5px;
    position: relative;
    padding: 10px;
}

.item-api h3,
.item-api p,
.item-api span{
    align-self: center;
}

.item-api p{
    font-weight: 300;
    color: #141414;
}

.item-api span.icn{
    justify-self: end;
    font-family: 'Courier New', Courier, monospace;
}

.list-entity .item-api span.method{
    align-self: center;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
}

/* POST */
.item-api.post{
    background-color: rgba(73,204,144,.1);
    border: 1px solid #49cc90;
}
.item-api.post span.method{
    background-color: #49cc90;
}
/* PUT */
.item-api.put{
    background-color: rgba(252,161,48,.1);
    border: 1px solid #fca130;
}
.item-api.put span.method{
    background-color: #fca130;
}
/* GET */
.item-api.get{
    background-color: rgba(97,175,254,.1);
    border: 1px solid #61affe;
}
.item-api.get span.method{
    background-color: #61affe;
}
/* DELETE */
.item-api.delete{
    background-color: rgba(249,62,62,.1);
    border: 1px solid #f93e3e;
}
.item-api.delete span.method{
    background-color: #f93e3e;
}


/* MORE */

.item-api-more{
    /* display: none; */
    position: relative;
}

.item-api-more .title-parameters,
.item-api-more .title-response{
    margin: 10px 0;
    padding: 10px;
    background: hsla(0,0%,100%,.8);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.title-parameters h3,
.title-response h3{
    font-size: 1em;
    color: #141414;
}

.item-api-more .parameters-container,
.item-api-more .response-container{
    padding: 10px;
}


/* TABLE */

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr.content td{
      font-family: 'Courier New', Courier, monospace;
  }

  td.code{
      background-color: #141414;
      color: white;
      font-size: .8em;
  }
  
  tr.content:hover {background-color:#f5f5f5;}